<div id="<%= dom_id staff %>">
  <p>
    <strong>Name:</strong>
    <%= staff.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= staff.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= staff.date_of_birth %>
  </p>

  <p>
    <strong>Citizen id:</strong>
    <%= staff.citizen_Id %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= staff.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address %>
  </p>

</div>
