<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Staff</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to staffs_path, class: button_class(theme: "transparent") do %>
      All Staffs
      <% end %>
      <%= link_to edit_staff_path(@staff), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @staff.name %></p>
      </li>
      <li>
        <p class="font-semibold">Gender:</p>
        <p><%= @staff.gender %></p>
      </li>
      <li>
        <p class="font-semibold">Date of birth:</p>
        <p><%= @staff.date_of_birth %></p>
      </li>
      <li>
        <p class="font-semibold">Citizen id:</p>
        <p><%= @staff.citizen_Id %></p>
      </li>
      <li>
        <p class="font-semibold">Phone number:</p>
        <p><%= @staff.phone_number %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @staff.address %></p>
      </li>
  </ul>
</div>
