<%= form_with(model: shipment_detail) do |form| %>
<% if shipment_detail.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(shipment_detail.errors.count, "error") %> prohibited this shipment_detail from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% shipment_detail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :shipment_id, class: label_class %>
          <%= form.text_field :shipment_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :book_id, class: label_class %>
          <%= form.text_field :book_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.number_field :quantity, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if shipment_detail.persisted? %>
<%= link_to "Cancel", shipment_detail, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", shipment_details_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
