<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Shipment_detail</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to shipment_details_path, class: button_class(theme: "transparent") do %>
      All Shipment_details
      <% end %>
      <%= link_to edit_shipment_detail_path(@shipment_detail), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Shipment:</p>
        <p><%= @shipment_detail.shipment.shipment_code %></p>
      </li>
      <li>
        <p class="font-semibold">Book:</p>
        <p><%= @shipment_detail.book.title %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @shipment_detail.quantity %></p>
      </li>
  </ul>
</div>
