<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Book</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to books_path, class: button_class(theme: "transparent") do %>
      All Books
      <% end %>
      <%= link_to edit_book_path(@book), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

    <h1><%= @book.title %></h1>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Title:</p>
        <p><%= @book.title %></p>
      </li>
      <li>
        <p class="font-semibold">Author:</p>
        <p><%= @book.author %></p>
      </li>
      <li>
        <p class="font-semibold">Category:</p>
        <p><%= @book.category.name %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @book.price %></p>
      </li>
      <% if @book.cover_image.attached? %>
      <%= image_tag @book.cover_image %>
    <% else %>
      <p>No cover image attached.</p>
    <% end %>
  </ul>
</div>
