<%= form_with(model: shipment) do |form| %>
<% if shipment.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% shipment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :shipment_code, class: label_class %>
        <%= form.text_field :shipment_code, class: input_class %>
      </div>

  <div class="mb-6">
        <%= form.label :supplier_id, class: label_class %>
        <%= form.select :supplier_id, options_from_collection_for_select( Supplier.all, 'id', 'name', selected = shipment.supplier_id), class: label_class %>

      </div>
  <div class="mb-6">
        <%= form.label :received_at, class: label_class %>
          <%= form.date_field :received_at, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :staff_id, class: label_class %>
        <%= form.select :staff_id, options_from_collection_for_select( Staff.all, 'id', 'name', selected = shipment.staff_id), class: label_class %>

      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if shipment.persisted? %>
<%= link_to "Cancel", shipment, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", shipments_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
