<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Shipment</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to shipments_path, class: button_class(theme: "transparent") do %>
      All Shipments
      <% end %>
      <%= link_to edit_shipment_path(@shipment), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Supplier:</p>
        <p><%= @shipment.supplier %></p>
      </li>
      <li>
        <p class="font-semibold">Received at:</p>
        <p><%= @shipment.received_at %></p>
      </li>
      <li>
        <p class="font-semibold">Staff:</p>
        <p><%= @shipment.staff %></p>
      </li>
  </ul>
</div>
